<a href="https://colab.research.google.com/github/drishtibaranwal/DS-Olympus-/blob/main/machineLearning/emailSpamFiltering/emailSpamFiltering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# EMAIL SPAM FILTERING

In [ ]:
# Importing required libraries.

In [2]:
import pandas as pd

In [4]:
# Loading the data

In [3]:
df= pd.read_csv("/content/spam_ham_dataset.csv")

In [5]:
# Print the first 5 rows of data

In [6]:
df.head()

   Unnamed: 0  ... label_num
0         605  ...         0
1        2349  ...         0
2        3624  ...         0
3        4685  ...         1
4        2030  ...         0

[5 rows x 4 columns]

In [8]:
df.groupby('label').describe()

      Unnamed: 0                                        ... label_num
           count    mean          std     min      25%  ...       min  25%  50%  75%  max
label                                                   ...
ham       3672.0  1835.5  1060.159422     0.0   917.75  ...       0.0  0.0  0.0  0.0  0.0
spam      1499.0  4421.0   432.868340  3672.0  4046.50  ...       1.0  1.0  1.0  1.0  1.0

[2 rows x 16 columns]

In [9]:
# Splitting the data into train and test

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.text,df.label_num, test_size=0.25)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:2]

array([[0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
emails = [
    'Hey mohan, can we get together to watch footbal game tomorrow?',
    'Upto 20% discount on parking, exclusive offer just for you. Dont miss this reward!'
]
emails_count = v.transform(emails)

array([0, 1])

In [ ]:
X_test_count = v.transform(X_test)
model.score(X_test_count, y_test)

0.9737045630317092