In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings("ignore")

In [2]:
T_train = pd.read_csv("C:\\Users\\Harshita\\Desktop\\Data Science\\titanic\\train.csv")
T_test = pd.read_csv("C:\\Users\\Harshita\\Desktop\\Data Science\\titanic\\test.csv")

In [3]:
T_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
T_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [5]:
T_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
T_test.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [7]:
T_test.shape

(418, 11)

In [8]:
T_train.shape

(891, 12)

In [9]:
T_train.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [10]:
T_test.drop(['PassengerId','Name','Ticket','Cabin'],axis=1,inplace=True)

In [11]:
T_train.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S
5         0       3    male   NaN      0      0   8.4583        Q
6         0       1    male  54.0      0      0  51.8625        S
7         0       3    male   2.0      3      1  21.0750        S
8         1       3  female  27.0      0      2  11.1333        S
9         1       2  female  14.0      1      0  30.0708        C

In [12]:
T_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 48.8+ KB

In [13]:
T_train.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [14]:
T_train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [15]:
T_train['Age'].fillna(T_train['Age'].mean(), inplace=True)
T_train['Age']

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [16]:
T_test['Age'].fillna(T_test['Age'].mean(),inplace=True)
T_test['Age']

0      34.50000
1      47.00000
2      62.00000
3      27.00000
4      22.00000
         ...
413    30.27259
414    39.00000
415    38.50000
416    30.27259
417    30.27259
Name: Age, Length: 418, dtype: float64

In [17]:
T_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    2
dtype: int64

In [18]:
T_test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64

In [19]:
T_train['Fare'] = T_train['Fare'].replace(0, T_train['Fare'].mean())

In [20]:
T_test['Fare'].replace('nan',np.nan,inplace=True)
T_test['Fare'].fillna(T_test['Fare'].mean(),inplace=True)

In [21]:
T_test['Fare'] = T_test['Fare'].replace(0, T_test['Fare'].mean())

In [22]:
T_train['Embarked'].replace('nan',np.nan,inplace=True)
T_train['Embarked'].fillna(T_train['Embarked'].mode()[0],inplace=True)

In [23]:
T_train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [24]:
T_test['Embarked'].replace('nan',np.nan,inplace=True)
T_test['Embarked'].fillna(T_test['Embarked'].mode()[0],inplace=True)

In [25]:
T_train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [26]:
T_train['Sex']=T_train['Sex'].map({'male':0,'female':1})

T_train['Sex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: int64

In [27]:
T_test['Sex']=T_test['Sex'].map({'male':0,'female':1})

T_test['Sex']

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Sex, Length: 418, dtype: int64

In [28]:
T_train['Embarked']=T_train['Embarked'].map({'S':0,'C':1,'Q':2})

In [29]:
T_test['Embarked']=T_test['Embarked'].map({'S':0,'C':1,'Q':2})

In [30]:
T_train['Fare'].replace(0,T_train['Fare'].mean(),inplace=True)

In [31]:
T_train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500         0
1         1       1    1  38.0      1      0  71.2833         1
2         1       3    1  26.0      0      0   7.9250         0
3         1       1    1  35.0      1      0  53.1000         0
4         0       3    0  35.0      0      0   8.0500         0

In [32]:
T_train['Embarked'].unique()

array([0, 1, 2], dtype=int64)

In [33]:
T_train['Age']=np.log(T_train['Age'])

T_train['Fare']=np.log(T_train['Fare'])

T_test.var()

Pclass         0.708690
Sex            0.231960
Age          159.631454
SibSp          0.804178
Parch          0.963203
Fare        3112.044613
Embarked       0.469932
dtype: float64

In [34]:
T_test['Fare']=np.log(T_test['Fare'])
T_test['Age']=np.log(T_test['Age'])

T_test.var()

Pclass      0.708690
Sex         0.231960
Age         0.482596
SibSp       0.804178
Parch       0.963203
Fare        0.973260
Embarked    0.469932
dtype: float64

In [35]:
T_test.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [36]:
x=T_train.drop(['Survived'],axis=1)

y=T_train['Survived']

In [37]:
#train_test_splitting of the dataset
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=0)

# Logistic Regression

In [38]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(x_train,y_train)

LogisticRegression()

In [39]:
from sklearn.model_selection import GridSearchCV
param = {
         'penalty':['l1','l2'],
         'C':[0.001, 0.01, 0.1, 1, 10, 20,100, 1000]
}
lr= LogisticRegression(penalty='l1')
cv=GridSearchCV(log_reg,param,cv=5,n_jobs=-1)
cv.fit(x_train,y_train)
cv.predict(x_test)

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1], dtype=int64)

In [40]:
#best_parameters
print("Best CV params", cv.best_params_)

Best CV params {'C': 0.1, 'penalty': 'l2'}

In [41]:
 #best_score
print("Best CV score", cv.best_score_)

Best CV score 0.8188755470766468

In [42]:
 #best_estimators
best_lr = cv.best_estimator_
best_lr

LogisticRegression(C=0.1)

In [43]:
prob = log_reg.predict_proba(x_train)
print("Maximum predicted probability",np.max(prob))

Maximum predicted probability 0.9965015645748502

# Support Vector Classifier

In [44]:
from sklearn.svm import SVC
svm= SVC()
svm.fit(x_train,y_train)
y_preds=svm.predict(x_test)
svm.score(x_test,y_test)

0.8116591928251121

# SGDClassifier

In [45]:
from sklearn.linear_model import SGDClassifier
linear_classifier = SGDClassifier(random_state=0)


parameters = {'alpha':[0.00001, 0.0001, 0.001, 0.01, 0.1, 1], 
             'loss':['hinge','log'], 'penalty':['l1','l2']}
searcher = GridSearchCV(linear_classifier, parameters, cv=10)
searcher.fit(x_train, y_train)


print("Test accuracy of best grid search hypers:", searcher.score(x_test, y_test))

Test accuracy of best grid search hypers: 0.7847533632286996

# KNN

In [46]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

knn.fit(x_train, y_train)

pred = knn.predict(x_test)

In [47]:
#accuracy,confusion matrix and classification report

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print("accuracy score for trained data",accuracy_score(y_train,knn.predict(x_train)))
print("accuracy score is",accuracy_score(y_test,pred))

print("Confusion matrix",confusion_matrix(y_test,pred))

print("Report",classification_report(y_test,pred))

accuracy score for trained data 0.8577844311377245
accuracy score is 0.8071748878923767
Confusion matrix [[119  20]
 [ 23  61]]
Report               precision    recall  f1-score   support

           0       0.84      0.86      0.85       139
           1       0.75      0.73      0.74        84

    accuracy                           0.81       223
   macro avg       0.80      0.79      0.79       223
weighted avg       0.81      0.81      0.81       223

# DecisionTreeClassifier

In [48]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier(max_depth=6, random_state=123)

dt.fit(x_train,y_train)

y_preds = dt.predict(x_test)

In [49]:
print("accuracy score for trained data",accuracy_score(y_train,dt.predict(x_train)))
print("accuracy score is",accuracy_score(y_test,y_preds))

print("Confusion matrix",confusion_matrix(y_test,y_preds))

print("Report",classification_report(y_test,y_preds))

accuracy score for trained data 0.8682634730538922
accuracy score is 0.8071748878923767
Confusion matrix [[118  21]
 [ 22  62]]
Report               precision    recall  f1-score   support

           0       0.84      0.85      0.85       139
           1       0.75      0.74      0.74        84

    accuracy                           0.81       223
   macro avg       0.79      0.79      0.79       223
weighted avg       0.81      0.81      0.81       223

In [50]:
#hyper parameter tuning
grid_param = {
    'criterion' : ['gini', 'entropy'],
    'max_depth' : [3, 5, 7, 10,13],
    'splitter' : ['best', 'random'],
    'min_samples_leaf' : [1, 2, 3, 5, 7],
    'min_samples_split' : [1, 2, 3, 5, 7],
    'max_features' : ['auto', 'sqrt', 'log2']
}

decision = GridSearchCV(dt, grid_param, cv = 5, n_jobs = -1, verbose = 1)
decision.fit(x_train, y_train)
decision.best_score_

Fitting 5 folds for each of 1500 candidates, totalling 7500 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 1032 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 3032 tasks      | elapsed:   10.0s
[Parallel(n_jobs=-1)]: Done 5832 tasks      | elapsed:   19.4s
[Parallel(n_jobs=-1)]: Done 7500 out of 7500 | elapsed:   26.6s finished

0.8143418247110314

# RandomForestClassifier

In [51]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(max_depth=10,min_samples_split=9)
rfc.fit(x_train,y_train)

predict=rfc.predict(x_test)

print(accuracy_score(y_test,predict))

0.8340807174887892

In [52]:
#accuracy score,classification report,confusion matrix
print("accuracy score for trained data",accuracy_score(y_train,rfc.predict(x_train)))
print("accuracy score is",accuracy_score(y_test,predict))

print("Confusion matrix",confusion_matrix(y_test,predict))

print("Report",classification_report(y_test,predict))

accuracy score for trained data 0.9041916167664671
accuracy score is 0.8340807174887892
Confusion matrix [[125  14]
 [ 23  61]]
Report               precision    recall  f1-score   support

           0       0.84      0.90      0.87       139
           1       0.81      0.73      0.77        84

    accuracy                           0.83       223
   macro avg       0.83      0.81      0.82       223
weighted avg       0.83      0.83      0.83       223

# AdaBoostClassifier

In [53]:
from sklearn.ensemble import AdaBoostClassifier
adb = AdaBoostClassifier(base_estimator = dt)

adb.fit(x_train,y_train)

predicts=adb.predict(x_test)

In [54]:
#hyper parameter tuning.
grid_param = {
    'n_estimators' : [100, 120, 150, 180, 200],
    'learning_rate' : [0.01, 0.1, 1, 10],
    'algorithm' : ['SAMME', 'SAMME.R']
}

search_ada = GridSearchCV(adb, grid_param, cv = 10, n_jobs = -1, verbose = 1)
search_ada.fit(x_train, y_train)

Fitting 10 folds for each of 40 candidates, totalling 400 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    5.4s
[Parallel(n_jobs=-1)]: Done 187 tasks      | elapsed:   20.1s
[Parallel(n_jobs=-1)]: Done 400 out of 400 | elapsed:   43.7s finished

GridSearchCV(cv=10,
             estimator=AdaBoostClassifier(base_estimator=DecisionTreeClassifier(max_depth=6,
                                                                                random_state=123)),
             n_jobs=-1,
             param_grid={'algorithm': ['SAMME', 'SAMME.R'],
                         'learning_rate': [0.01, 0.1, 1, 10],
                         'n_estimators': [100, 120, 150, 180, 200]},
             verbose=1)

In [55]:
search_ada.best_score_

0.8189507010402532

In [56]:
search_ada.best_estimator_

AdaBoostClassifier(algorithm='SAMME',
                   base_estimator=DecisionTreeClassifier(max_depth=6,
                                                         random_state=123),
                   learning_rate=0.01, n_estimators=100)

In [57]:
adc = AdaBoostClassifier(algorithm='SAMME',
                   base_estimator=DecisionTreeClassifier(max_depth=6,
                                                         random_state=123),
                   learning_rate=0.01, n_estimators=100)
adc.fit(x_train, y_train)

AdaBoostClassifier(algorithm='SAMME',
                   base_estimator=DecisionTreeClassifier(max_depth=6,
                                                         random_state=123),
                   learning_rate=0.01, n_estimators=100)

In [58]:
accuracy_score(y_test,adc.predict(x_test))

0.8251121076233184

# GradientBoostingClassifier

In [59]:
from sklearn.ensemble import GradientBoostingClassifier

gb = GradientBoostingClassifier(max_depth=3, validation_fraction=1)
gb.fit(x_train, y_train)

GradientBoostingClassifier(validation_fraction=1)

In [60]:
accuracy_score(y_test,gb.predict(x_test))

0.8430493273542601

In [61]:
sgb = GradientBoostingClassifier(subsample = 0.90, max_features = 0.70)
sgb.fit(x_train, y_train)

GradientBoostingClassifier(max_features=0.7, subsample=0.9)

In [62]:
# accuracy score, confusion matrix and classification report of stochastic gradient boosting classifier

sgb_acc = accuracy_score(y_test, sgb.predict(x_test))

print(f"Training Accuracy of Decision Tree Classifier is {accuracy_score(y_train, sgb.predict(x_train))}")
print(f"Test Accuracy of Decision Tree Classifier is {sgb_acc} \n")

print(f"{confusion_matrix(y_test, sgb.predict(x_test))}\n")
print(classification_report(y_test, sgb.predict(x_test)))

Training Accuracy of Decision Tree Classifier is 0.8922155688622755
Test Accuracy of Decision Tree Classifier is 0.8430493273542601

[[126  13]
 [ 22  62]]

              precision    recall  f1-score   support

           0       0.85      0.91      0.88       139
           1       0.83      0.74      0.78        84

    accuracy                           0.84       223
   macro avg       0.84      0.82      0.83       223
weighted avg       0.84      0.84      0.84       223

# VotingClassifier

In [64]:
from sklearn.ensemble import VotingClassifier 
classifiers = [('Random forest',rfc),('ADA bossting',adc),('Gradient Boosting',gb)]
# Instantiate a VotingClassifier vc
vc = VotingClassifier(estimators=classifiers )     

# Fit vc to the training set
vc.fit(x_train,y_train)   

# Evaluate the test set predictions
y_pred = vc.predict(x_test)

# Calculate accuracy score
accuracy = accuracy_score(y_test,y_pred)
print('Voting Classifier: {:.3f}'.format(accuracy))

Voting Classifier: 0.852

In [65]:
finals_predictions = sgb.predict(T_test)

finals_predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [67]:
predictionsss = pd.DataFrame(finals_predictions)
subs_dfgs = pd.read_csv('C:\\Users\\Harshita\\Desktop\\Data Science\\titanic\\gender_submission.csv')
subs_dfgs['Survived'] = predictionsss
subs_dfgs.to_csv('C:\\Users\\Harshita\\Desktop\\Data Science\\titanic\\Submissionsd2s.csv', index = True)